/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  display: inline-block;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0;
}

#wrapper {
  position: relative;
}

#l-header {
  position: fixed;
  display: block;
  width: 100%;
  height: 60px;
  z-index: 100;
}
@media (min-width: 960px) {
  #l-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  }
}

.c-font__top-title {
  line-height: normal;
  font-size: 4.2rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
}
.c-font__top-title span {
  background-color: #ffffff;
}
.c-font__top-title span span {
  color: #eb51c2;
}
@media (min-width: 960px) {
  .c-font__top-title {
    font-size: 9rem;
  }
}
.c-font__heading--top-main {
  background-color: #ffffff;
  font-family: sans-serif;
  font-weight: 200;
  font-size: 1.3rem;
}
@media (min-width: 960px) {
  .c-font__heading--top-main {
    font-weight: 600;
    font-size: 2.8rem;
  }
}
.c-font__top--btn {
  color: #ffffff;
  font-family: sans-serif;
  font-weight: 200;
  font-size: 1.3rem;
  margin-left: 10%;
}
@media (min-width: 960px) {
  .c-font__top--btn {
    font-weight: 600;
    font-size: 2rem;
    margin-left: 0;
  }
}
.c-font__catchphrase--sub {
  line-height: normal;
  text-align: center;
  color: #eb51c2;
  height: auto;
  width: 274px;
  font-size: 54px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
}
@media (min-width: 960px) {
  .c-font__catchphrase--sub {
    width: auto;
    font-size: 10.8rem;
  }
}
.c-font__heading--top-sub {
  font-family: sans-serif;
  font-weight: 200;
  font-size: 1.6rem;
}
.c-font__heading--top-sub span {
  color: #eb51c2;
}
@media (min-width: 960px) {
  .c-font__heading--top-sub {
    font-weight: 600;
    font-size: 3.2rem;
  }
}
.c-font__text {
  margin: 0 30px;
  font-size: 1.4rem;
  line-height: 2.7rem;
}
@media (min-width: 960px) {
  .c-font__text {
    font-size: 1.6rem;
    line-height: 3.2rem;
  }
}
.c-font__service--training, .c-font__service--food {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  color: #eb51c2;
  font-size: 1.8rem;
}
.c-font__service--food {
  color: #00b21b;
}
.c-font__heading--service {
  margin-top: 15px;
  font-size: 2.2rem;
  line-height: 3.3rem;
}
.c-font__text--service {
  margin-top: 22px;
  font-size: 1.4rem;
  line-height: 2.38rem;
}
@media (min-width: 960px) {
  .c-font__text--service {
    font-size: 1.6rem;
    line-height: 3.2rem;
  }
}
.c-font__heading--introduction {
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 4rem;
}
@media (min-width: 960px) {
  .c-font__heading--introduction {
    font-size: 6rem;
  }
}
.c-font__subheading--introduction {
  color: #ffffff;
  font-size: 1.4rem;
}
@media (min-width: 960px) {
  .c-font__subheading--introduction {
    font-size: 2rem;
  }
}
.c-font__menu--introduction {
  color: #ffffff;
  font-size: 1.6rem;
}
@media (min-width: 960px) {
  .c-font__menu--introduction {
    font-size: 1.8rem;
  }
}
.c-font__card {
  font-size: 1.4rem;
}
@media (min-width: 960px) {
  .c-font__card {
    font-size: 1.5rem;
  }
}
.c-font__heading--slider {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  line-height: 3.2rem;
  font-size: 3.2rem;
}
@media (min-width: 960px) {
  .c-font__heading--slider {
    line-height: 6.4rem;
    font-size: 6.4rem;
  }
}
.c-font__subheading--slider {
  color: #eb51c2;
  font-size: 1.4rem;
}
@media (min-width: 960px) {
  .c-font__subheading--slider {
    font-size: 2rem;
  }
}
.c-font__heading--price {
  color: #eb51c2;
  height: 35px;
  font-size: 2.6rem;
}
.c-font__main--price {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  line-height: 5.8rem;
  height: 48px;
  font-size: 4.8rem;
}
.c-font__text--price {
  font-size: 1.6rem;
}
.c-font__sub-heading--price {
  font-size: 1.8rem;
}
.c-font__plate--price {
  font-size: 2rem;
  color: #eb51c2;
}
.c-font__heading--qanda {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 4rem;
}
@media (min-width: 960px) {
  .c-font__heading--qanda {
    font-size: 6rem;
  }
}
.c-font__sub-heading--qanda {
  color: #eb51c2;
  font-size: 1.2rem;
}
@media (min-width: 960px) {
  .c-font__sub-heading--qanda {
    font-size: 2rem;
  }
}
.c-font__text--qanda {
  font-size: 1.5rem;
}
.c-font__icon--qanda {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  color: #eb51c2;
  font-size: 2.6rem;
}
.c-btn__top {
  background-color: #eb51c2;
  border: none;
  border-radius: 50px;
  text-align: left;
  width: 220px;
  height: 45px;
}
@media (min-width: 960px) {
  .c-btn__top {
    text-align: center;
    width: 370px;
    height: 90px;
  }
}

.c-img__top-group {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0 0 0 30px;
  width: 70%;
  height: 410px;
}
@media (min-width: 960px) {
  .c-img__top-group {
    border-radius: 0 0 0 50px;
    width: 75%;
    height: 680px;
  }
}
.c-img__service--training, .c-img__service--food {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
}
@media (min-width: 960px) {
  .c-img__service--training, .c-img__service--food {
    max-width: 950px;
    width: 65vw;
    min-height: 550px;
    height: 550px;
    -o-object-position: left;
       object-position: left;
  }
}
@media (min-width: 960px) {
  .c-img__service--food {
    -o-object-position: center;
       object-position: center;
  }
}
.c-img__introduction {
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.c-img__slider {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-svg__wave {
  fill: #eb51c2;
}

.p-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 60px;
}
.p-header__link {
  width: 96.7px;
  height: 12.36px;
  margin-left: 20px;
}
@media (min-width: 960px) {
  .p-header__link {
    margin-left: 35px;
    width: 180px;
    height: 23px;
  }
}

.p-top-group {
  position: relative;
  height: 800px;
}
@media (min-width: 960px) {
  .p-top-group {
    height: 1000px;
  }
}
.p-top-group__img {
  position: absolute;
  top: 0;
  right: 0;
}
.p-top-group__main {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 160px;
  left: 25px;
  min-width: 232px;
}
.p-top-group__main h3 {
  margin-top: 10px;
}
.p-top-group__main button {
  margin-top: 15px;
}
.p-top-group__sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 390px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  width: 100vw;
}
.p-top-group__sub p {
  margin-top: 23px;
}
@media (min-width: 960px) {
  .p-top-group__sub {
    top: 660px;
  }
  .p-top-group__sub p {
    text-align: center;
  }
}

.p-service__content--training, .p-service__content--food {
  overflow: hidden;
  height: auto;
  padding-bottom: 22px;
}
@media (min-width: 960px) {
  .p-service__content--training, .p-service__content--food {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}
.p-service__content--food {
  margin-top: 22px;
}
@media (min-width: 960px) {
  .p-service__content--food {
    flex-direction: row-reverse;
    margin-top: 50px;
  }
}
.p-service__section--training, .p-service__section--food {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
  margin: -10px auto 0 auto;
  padding: 43px 30px 68px 30px;
  background-color: #ffffff;
  max-height: 416px;
  width: 88vw;
  height: auto;
}
@media (min-width: 960px) {
  .p-service__section--training, .p-service__section--food {
    padding: 60px 60px 92px 60px;
    margin-bottom: -10px;
    margin-left: -100px;
    margin-right: 0;
    max-height: initial;
    min-width: 555px;
    width: 38vw;
    height: 495px;
  }
}
@media (min-width: 960px) {
  .p-service__section--food {
    margin-right: -100px;
    margin-left: 0;
  }
}

.p-introduction__wave--top svg, .p-introduction__wave--bottom svg {
  display: block;
  width: 100vw;
  height: 25px;
  margin-bottom: -1px;
}
@media (min-width: 960px) {
  .p-introduction__wave--top svg, .p-introduction__wave--bottom svg {
    height: 95px;
  }
}
.p-introduction__container {
  overflow: hidden;
  height: auto;
  background-color: #eb51c2;
}
.p-introduction__container h3 {
  width: 85vw;
  margin: 0 auto;
}
@media (min-width: 960px) {
  .p-introduction__container h3 {
    width: 85vw;
  }
}
.p-introduction__container h4 {
  width: 85vw;
  margin: 0 auto;
}
@media (min-width: 960px) {
  .p-introduction__container h4 {
    width: 85vw;
  }
}
.p-introduction__menu {
  padding: 0;
  width: 85vw;
  margin: 0 auto;
}
.p-introduction__menu ul {
  display: flex;
}
.p-introduction__list--trainer, .p-introduction__list--staff {
  position: relative;
  text-align: center;
  width: 50%;
  height: 35px;
  line-height: 35px;
}
.p-introduction__list--trainer::before, .p-introduction__list--staff::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
}
.p-introduction__list--staff::before {
  opacity: 0;
}
.p-introduction__area--trainer, .p-introduction__area--staff {
  margin: 0 auto;
  width: 85vw;
  height: auto;
  min-height: 426px;
  padding: 20.5px 0 50px 0;
}
@media (min-width: 960px) {
  .p-introduction__area--trainer, .p-introduction__area--staff {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85vw;
    min-height: inherit;
  }
}
.p-introduction__area--trainer section:last-of-type, .p-introduction__area--staff section:last-of-type {
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  .p-introduction__area--trainer section:last-of-type, .p-introduction__area--staff section:last-of-type {
    margin-bottom: 0;
  }
}
.p-introduction__area--staff {
  display: none;
}
.p-introduction__card {
  background-color: #ffffff;
  margin-top: 30px;
  border-radius: 20px;
}
@media (min-width: 960px) {
  .p-introduction__card {
    flex: 0 0 30%;
    height: auto;
    margin: 0 7.5px;
  }
}
.p-introduction__card p {
  padding: 20px 20px 36px 20px;
}
@media (min-width: 960px) {
  .p-introduction__card p {
    padding-bottom: 47px;
  }
}
.p-introduction__wave--bottom {
  margin-top: -2px;
}

.p-slider__container {
  padding-top: 40px;
}
@media (min-width: 960px) {
  .p-slider__container {
    padding-top: 12px;
  }
}
.p-slider__container h3, .p-slider__container h4 {
  width: 85vw;
  margin: auto;
}
.p-slider__container h3 {
  height: 32px;
}
@media (min-width: 960px) {
  .p-slider__container h3 {
    height: 64px;
  }
}
.p-slider__container h4 {
  height: 14px;
}
@media (min-width: 960px) {
  .p-slider__container h4 {
    height: 20px;
  }
}
.p-slider__area {
  width: 85vw;
  height: auto;
  position: relative;
  margin: auto;
  padding-bottom: 42px;
  margin-top: 28px;
}
@media (min-width: 960px) {
  .p-slider__area {
    padding-bottom: 98px;
    margin-top: 38px;
  }
}
.p-slider__area .swiper {
  width: 100%;
  height: auto;
}
.p-slider__area .swiper-button-prev,
.p-slider__area .swiper-button-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
}
.p-slider__area .swiper-button-prev::after,
.p-slider__area .swiper-button-next::after {
  content: "";
  position: absolute;
  left: 40%;
  top: 40%;
  width: 10px;
  height: 10px;
}
@media (min-width: 960px) {
  .p-slider__area .swiper-button-prev,
.p-slider__area .swiper-button-next {
    width: 80px;
    height: 80px;
  }
  .p-slider__area .swiper-button-prev::after,
.p-slider__area .swiper-button-next::after {
    width: 15px;
    height: 15px;
  }
}
.p-slider__area .swiper-button-prev {
  position: absolute;
  top: 50%;
  left: 0.5%;
  transform: translate(-50%, -50%);
}
.p-slider__area .swiper-button-prev::after {
  border-bottom: solid 4px #eb51c2;
  border-left: solid 4px #eb51c2;
  transform: rotate(45deg);
  left: 40%;
}
.p-slider__area .swiper-button-next {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}
.p-slider__area .swiper-button-next::after {
  border-top: solid 4px #eb51c2;
  border-right: solid 4px #eb51c2;
  transform: rotate(45deg);
  left: 30%;
}
@media (min-width: 960px) {
  .p-slider__area .swiper-pagination {
    bottom: 64px !important;
  }
}
.p-slider__area .swiper-pagination-bullet-active {
  background: #eb51c2 !important;
}

.p-price__container {
  background-color: #eb51c2;
  width: 100%;
  height: auto;
}
.p-price__container > h3 {
  width: 85vw;
  margin: auto;
}
.p-price__container > h4 {
  width: 85vw;
  margin: auto;
}
.p-price__area {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: auto;
  width: 85vw;
  margin: auto;
  white-space: nowrap;
}
@media (min-width: 960px) {
  .p-price__area {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    overflow-x: hidden;
  }
}
.p-price__box {
  position: relative;
  text-align: center;
  background-color: #ffffff;
  flex: 0 0 30%;
  height: 492px;
  border-radius: 10px;
  margin: 40px 10px;
}
.p-price__content--main {
  width: 250px;
  margin: auto;
  padding-top: 35px;
  padding-bottom: 28px;
}
.p-price__content--sub {
  width: 250px;
  margin: auto;
  padding-top: 27px;
  padding-bottom: 33px;
  border-top: solid rgba(0, 0, 0, 0.4);
}
.p-price__content--plate {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 0%;
  left: 50%;
  border-radius: 30px;
  background-color: gold;
  width: 256px;
  height: 45px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-price__wave--top svg, .p-price__wave--bottom svg {
  display: block;
  width: 100vw;
  height: 25px;
  margin-bottom: -1px;
}
@media (min-width: 960px) {
  .p-price__wave--top svg, .p-price__wave--bottom svg {
    height: 95px;
  }
}
.p-price__wave--bottom {
  margin-top: -2px;
}

.p-qanda__container {
  width: 85vw;
  height: auto;
  margin: auto;
}
.p-qanda__list--question, .p-qanda__list--answer {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: solid rgba(0, 0, 0, 0.3);
}
.p-qanda__list--question p, .p-qanda__list--answer p {
  display: inline-block;
}
.p-qanda__list--question p:first-of-type, .p-qanda__list--answer p:first-of-type {
  vertical-align: top;
  text-align: left;
  width: 7%;
  height: 100%;
}
.p-qanda__list--question p:nth-of-type(2), .p-qanda__list--answer p:nth-of-type(2) {
  width: 85%;
}
.p-qanda__list--answer {
  display: none;
}
/*# sourceMappingURL=style.css.map */