@use "../../foundation/_mixin.scss";

.c-img {
  &__top-group {
    object-fit   : cover;
    border-radius: 0 0 0 30px;
    width        : 70%;
    height       : 410px;
    @include mixin.mq("pc") {
      border-radius: 0 0 0 50px;
      width        : 75%;
      height       : 680px;
    }
  }
  &__service--training {
    object-fit: cover;
    width     : 100%;
    height: auto;
    @include mixin.mq("pc") {
      max-width: 950px;
      width  : 65vw;
      min-height: 550px;
      height: 550px;
      //object-fit: contain;
      object-position: left;
    }
  }
  &__service--food {
    @extend .c-img__service--training;
    @include mixin.mq("pc") {
      object-position: center;
    }
  }
  &__introduction {
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    //height: 77%;
    width: 100%;
    @include mixin.mq("pc") {

    }
  }
  &__slider {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__footer--icon {
    display: block;
    margin: auto;
    width: 87px;
    height: 11px;
    @include mixin.mq("pc") {
      width: 180px;
      height: 23px;
      
    }
  }
}