@use "../../foundation/_mixin.scss";
@use "../../foundation/_variables.scss" as val;

.p-price {
  &__wave--top {
    svg {
      display: block;
      width: 100vw;
      height: 25px;
      margin-bottom: -1px;
      @include mixin.mq("pc") {
        height: 95px;
      }
    }
  }
  &__wave--bottom {
    margin-top: -2px;
    @extend .p-price__wave--top;
  }
}

.scroll_content { /* リスト全体のスタイル */
  display: flex;
  max-width: 800px;
  margin: auto;
  overflow-x: hidden;
}
 
.scroll_content li { /* 各リストのスタイル */
  width: 90%;
  padding: 8px;
  margin: 3px;
  flex-shrink: 0;
  list-style: none;
}
 
.scroll_content img { /* 画像のスタイル */
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}
 
.scroll_content::-webkit-scrollbar {
  height: 12px; /* スクロールバーの高さ */
}
 
.scroll_content::-webkit-scrollbar-thumb {
  background: #aaa; /* ツマミの色 */
  border-radius: 6px; /* ツマミ両端の丸み */
}
 
.scroll_content::-webkit-scrollbar-track {
  background: #ddd; /* トラックの色 */
  border-radius: 6px; /* トラック両端の丸み */
}
 
 
@media screen and (min-width: 450px) {
 
  .scroll_content li {
    width: 45%;
  }
 
}