@use "../../foundation/_mixin.scss";
@use "../../foundation/_variables.scss" as val;

.p-price {
  &__container {
    background-color: val.$pink;
    & > h3 {
      padding-left: 30px;
    }
    & > h4 {
      padding-left: 30px;
    }
  }
  &__area {
    
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-left: 20px;
    overflow-x: auto;
    white-space: nowrap;
  }
  &__box {
    position: relative;
    text-align: center;
    background-color: val.$white;
    flex: 0 0 320px;
    height: 492px;
    border-radius: 10px;
    margin: 0 10px;
  }
  &__content {
    &--main {
      width: 250px;
      margin: auto;
      padding-top   : 35px;
      padding-bottom: 28px;
      //border-bottom: solid rgba(0, 0, 0, .4);
    }
    &--sub {
      width: 250px;
      margin: auto;
      padding-top: 27px;
      padding-bottom: 33px;
      border-top: solid rgba(0, 0, 0, .4);
    }
    &--plate {

    }
  }





  &__wave--top {
    svg {
      display: block;
      width: 100vw;
      height: 25px;
      margin-bottom: -1px;
      @include mixin.mq("pc") {
        height: 95px;
      }
    }
  }
  &__wave--bottom {
    margin-top: -2px;
    @extend .p-price__wave--top;
  }
}
