@use "../../foundation/_mixin.scss";
@use "../../foundation/_variables.scss" as val;

.p-qanda {
  &__container {
    width: 85vw;
    height: auto;
    margin: auto;
  }
  &__area {

  }
  &__box {

  }
  &__list--question {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: solid rgba(000, 000, 000, .3);
    p {
      display: inline-block;
    }
    p:first-of-type {
      vertical-align: top;
      text-align: left;
      width: 7%;
      height: 100%
    }
    p:nth-of-type(2) {
      width: 85%;
    }
  }
  &__list--answer {
    display: none;
    @extend .p-qanda__list--question;
  }
}