@use "../../foundation/_mixin.scss";
@use "../../foundation/_variables.scss" as val;

.p-service {
  &__area {
    //overflow: hidden;
    width: 100%;
    margin-top: 35px;
  }
  &__content--training {
    overflow      :hidden;
    height        : auto;
    //max-height    : 950px;
    padding-bottom: 22px;
    @include mixin.mq("pc") {
      display        : flex;
      justify-content: center;
      align-items    : flex-end;
      max-width: 1450px;
      margin: auto;
    }
  }
  &__content--food {
    margin-top: 22px;
    @extend .p-service__content--training;
    @include mixin.mq("pc") {
      flex-direction: row-reverse;
      margin-top: 50px;
    }
  }
  &__section--training {
    overflow        :hidden;
    border-radius   : 8px;
    box-shadow      : 0 0 20px 5px rgba(0, 0, 0, 0.5);
    position        : relative;
    z-index         : 1;
    margin          : -10px auto 0 auto;
    padding         : 43px 30px 68px 30px;
    background-color: val.$white;
    max-height      : 416px;
    width           : 88vw;
    height          : auto;
    @include mixin.mq("pc") {
      padding      : 60px 60px 92px 60px;
      margin-bottom: -10px;
      margin-left  : -100px;
      margin-right : 0;
      max-height   : initial;
      max-width    : 555px;
      min-width: 445px;
      flex :0 0 38vw;
      //width        : 38vw;
      height       : 495px;
      
    }
  }
  &__section--food {
    @extend .p-service__section--training;
    @include mixin.mq("pc") {
      margin-right: -100px;
      margin-left : 0;
    }
  }
}