.p-slider {
  &____container{

  }
  &__area {
    width: 90vw;
    height: auto;
    position: relative;
    margin: auto;
    .swiper {
      width: 100%;
      height: auto;
    }
    .swiper-wrapper {
    }
    .swiper-button-prev {
      position: absolute;
      top: 50%;
      left: 1.5%;
      transform: translate(-50%, -50%);
      width: 10vw;
      height: 10vw;
      border-radius: 50%;
      background-color: black;
      z-index: 100;
      margin-left: -10px;
      &::after {
        position: absolute;
        z-index: 11;
        left: 0;
        top: 50%;
        width: 10px;
        height: 10px;
      }
    }
  }
}
