@use "../../foundation/_mixin.scss";

.p-top-group {
  position: relative;
  height  : 800px;
  @include mixin.mq("pc") {
    height: 1000px;
  }
  &__img {
    display: block;
    margin: 0 0 0 auto;
    //position: absolute;
    //object-position: ;
    // top: 0;
    // right: 0;
  }
  &__main {
    position: absolute;
    display       : flex;
    flex-direction: column;
    top           : 12%;
    left          : 25px;
    // left          : 10%;
    min-width     : 232px;
    h3 {
      margin-top: 10px;
    }
    button {
      margin-top: 15px;
    }
    @include mixin.mq("pc") {
      top: 22%;
      left: 6%;
    }
  }
  &__sub {
    text-align: center;
    overflow      : hidden;
    width: 100vw;
    margin-top: -20px;
    //display       : flex;
    // flex-direction: column;
    // align-items   : center;
    //position      : absolute;
    // top           : 390px;
    // left          : 50%;
    //transform     : translateX(-50%);
    h2 {
      margin: auto;
    }
    p {
      margin-top: 23px;
    }
    @include mixin.mq("pc") {
      //top: 660px;
      p {
        text-align: center;
      }
    }
    
  }
}